body > div {
    display:inline-block;
    background-image: linear-gradient(to top right, #541D66, #58B3C4);
    width: 800px;
    height:600px;
    margin-left: calc((100% - 800px) / 2);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content {
    margin:auto;
    float: left;
    background-image: linear-gradient(to top right, #541D66, #58B3C4);
    display:inline-block;
    justify-content: center;
    width: 30%;
    height:350px;
    margin-left:10%;
    margin-top:125px;
}
    h1{
        display:inline-block;
        width: 100%;
        color: white;
        margin-left:30px;
        margin-bottom:250px;
    }
    p{
        display:inline-block;
        color:white;
        font-size: 12px;
        margin-left:30px;
        text-decoration-line: underline;
    }
.signUp {
    margin:auto;
    float: right;
    background-color: white;
    display:inline-block;
    width: 50%;
    height:400px;
    margin-right: 10%;
    margin-top:100px;
    color:#CBCBCB;
}
    .close{
        display: inline-block;
        width:95%;
        text-align:right;
        margin-top:15px;
        margin-bottom:15px;
    }
    .signUp > form {
        display:inline-block;
        margin-left: 60px;
    }
        .signUp > form > input {
        display:inline-block;
        width:80%;
        border: 0;
        border-bottom: 1px solid #CBCBCB;
        padding:0;
        margin-bottom: 30px;
        }
        .signUp > form > label {
        display:inline-block;
        width:100%;
        font-size:12px;
        }
    .footer {
        display:inline-block;
        width:100%;
    }
        .started {
            display:inline-block;
            width: 45%;  
            text-align: right;
            margin-left: 25px;   
   
        }
            .started > a {
                background-color: #0063DA;
                text-decoration-line: none;  
                color:white;
                padding-left:35px;
                padding-right:35px;
                padding-top:5px;
                padding-bottom:5px;
                border-radius: 25px;
            }
        .signn {
            display:inline-block;
            width: 35%;
            text-align: left;
            margin-left:15px;
            font-size:15px;
        }
            .signn > a {
                text-decoration-line: none;
                color:#0063DA;
            }
